<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icono.png" type="imagen/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>SISTEMA DE BIBLIOTECAS</title>
</head>
<body class="consultas">
    <form class="formato">
        <fieldset>
    
           <label for="nombre"></label>NOMBRE:
            <input  class="form-control form-control-lg" type="text" name="firstname" id="nombre"><br><br>
    
           <label for="apellido"></label>APELLIDO: <br>
            <input  class="form-control form-control-lg" type="text" name="lastname" id="apellido"><br><br>
    
           <label for="email"></label>CORREO ELECTRÓNICO: <br>
           <input  class="form-control form-control-lg" type="email" name="email" id="email"><br><br>
    
           <label for="consulta"></label>CONSULTA: <br>
           <textarea class="form-control form-control-lg" name="consulta" id="consulta" cols="59" rows="10"></textarea> <br>
           
           <input type="submit" value="ENVIAR"><br>
        </fieldset> 
        </form>
        <a href="../../index.html" class="btn-inicio" style="text-align: center;">VOLVER A INICIO</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
</body>
</html>