<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icono.png" type="imagen/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>SISTEMA DE BIBLIOTECAS</title>
</head>
<body class="nosotros">
    
  <h1>SOBRE NOSOTROS</h1><br>
  <h1>SISTEMA MUNICIPAL DE BIBLIOTECAS PÚBLICAS</h1> <br>
  
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-historia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-historia" type="button" role="tab" aria-controls="v-pills-historia" aria-selected="true">HISTORIA</button>
          <button class="nav-link" id="v-pills-tipos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tipos" type="button" role="tab" aria-controls="v-pills-tipos" aria-selected="false">TIPOS DE BIBLIOTECAS</button>
          <button class="nav-link" id="v-pills-municipales-tab" data-bs-toggle="pill" data-bs-target="#v-pills-municipales" type="button" role="tab" aria-controls="v-pills-municipales" aria-selected="false">BIBLIOTECAS MUNICIPALES</button>
          <button class="nav-link" id="v-pills-protegidas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-protegidas" type="button" role="tab" aria-controls="v-pills-protegidas" aria-selected="false">BIBLIOTECAS PROTEGIDAS</button>
          <button class="nav-link" id="v-pills-especial-tab" data-bs-toggle="pill" data-bs-target="#v-pills-especial" type="button" role="tab" aria-controls="v-pills-especial" aria-selected="false">BIBLIOTECAS ESPECIALES  Y ESPECIALIZADAS</button>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-historia" role="tabpanel" aria-labelledby="v-pills-historia-tab" tabindex="0">
            <p>En el año 1899 se crea el Centro Popular de Lectura, primer antecedente de las futuras Bibliotecas marplatenses. La antigua Biblioteca Pública Municipal fue creada en 1934, durante el gobierno del Intendente José L. Camuso, inaugurándose oficialmente en un inmueble lindante a la municipalidad sobre la calle Hipólito Irigoyen, y que luego funciono en el 3º piso del Palacio Municipal, El 31 de julio de 1935 la Comisión Local de la Asociación de Maestros donó a la Biblioteca Pública Municipal todo el material bibliográfico que constituyó su Biblioteca Pedagógica.
            En 1981 durante la intendencia del Señor Mario Russak se inicia la construcción del edificio propio para la Biblioteca, en el predio municipal cito en la calle Catamarca y 25 de Mayo, donde antes había funcionado la Escuela Normal Municipal; y el 10 de Julio de 1982, siendo el intendente Luis Nuncio Fabricio, se inaugura el nuevo edificio de la Biblioteca Pública Municipal.
            En 1980 se crea el Departamento de Bibliotecas dependiente de la Municipalidad con el objeto de crear y supervisar bibliotecas distribuidas en los barrios del partido. La primera Biblioteca que este Departamento inauguró fue la Biblioteca “Leopoldo Lugones” situada en la zona del Puerto de la ciudad, en la esquina de Ayolas y Padre Dutto.
            En 1990, por Ordenanza Nº 8126 se crea el Centro Cultural Juan Martín de Pueyrredon como organismo descentralizado, integrado por la Biblioteca Pública Municipal y el Departamento Bibliotecas que dependía de la Secretaría de Educación y Cultura, cuya dirección y administración se encontraban a cargo de un director y un subdirector designados por el Departamento Ejecutivo. Desde ese año el sistema de bibliotecas ha dependido del Ente de Cultura, Ente de Turismo Cultura y Deportes, Subsecretaría de Cultura y Secretaría de Cultura de la Municipalidad del Partido de General Pueyrredon.
            Actualmente el Sistema de Bibliotecas del Partido de General Pueyrredon depende de la Dirección Bibliotecas de la Secretaría de Cultura y está conformado por una red de  unidades de información entre bibliotecas públicas, especializadas y especiales, distribuidas por todo el Partido.</p></div>
          <div class="tab-pane fade" id="v-pills-tipos" role="tabpanel" aria-labelledby="v-pills-tipos-tab" tabindex="0">
            <p>EL SISTEMA DE BIBLIOTECAS PÚBLICAS</p>
            <p>El Sistema de Bibliotecas del Partido de General Pueyrredon está conformado por una red de  unidades de información, gratuitas. Los siguientes puntos clave relacionados con la información, literatura, educación y cultura deben estar en el centro de los servicios que prestan las bibliotecas públicas:
            Crear y fortalecer los hábitos de lectura en los niños desde una temprana edad.
            Apoyar tanto a la educación individual (auto-enseñanza) como a la educación formal en todos sus niveles.
            Proveer oportunidades para el desarrollo creativo personal.
            Promover la vigilancia de la herencia documental y bibliográfica, apreciación de las artes, mejoras científicas e innovaciones.
            Proveer acceso a expresiones documentales de todas las artes y disciplinas.
            Alimentar el dialogo intercultural y favorecer la diversidad cultural a través de la información.
            Apoyar la tradición oral.
            Asegurar el acceso a los ciudadanos a toda clase de información de la comunidad.
            Proveer servicios de información adecuada a la comunidad en general, asociaciones y grupos de interés.
            Facilitar el desarrollo de información y conocimiento de las habilidades computacionales.
            Apoyar y participar en actividades literarias y programas para todas las edades, y si es necesario iniciar dichas actividades.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-municipales" role="tabpanel" aria-labelledby="v-pills-municipales-tab" tabindex="0">
            <p>BIBLIOTECAS PÚBLICAS MUNICIPALES BARRIALES</p>
            <p>Las Bibliotecas públicas municipales: 9 DE JULIO, JORGE NEWBERY, MARIANO MORENO, LEOPOLDO LUGONES,  LAGUNA DE LOS PADRES, NICOLÁS AVELLANEDA Y REVOLUCIÓN DE MAYO, fueron concebidas dentro del llamado “Plan Regulador” del gobierno socialista del intendente Lombardo durante la década del ´60 que inauguró la urbanización de las plazas con una nueva concepción en materia de recreación pública, como lugares para practicar deportes, con juegos infantiles, la biblioteca pública del barrio y un lugar para el funcionamiento de las orquestas y bandas municipales, con un lugar para el público.
            Dentro del grupo, también se encuentran las Bibliotecas Municipales BATÁN, LEOPOLDO MARECHAL y MANUEL BELGRANO ,que se encuentran en puntos estratégicos de la ciudad. 
            Finalmente en  el año 2015 se incluyó al Sistema de Bibliotecas Públicas Municipales la BIBLIOTECA DE SIERRA DE LOS PADRES, a fin de dar respuesta a un sector de la ciudad que se encuentra en constante crecimiento.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-protegidas" role="tabpanel" aria-labelledby="v-pills-protegidas-tab" tabindex="0">
            <p>BIBLIOTECAS PÚBLICAS PROTEGIDAS</p>
            <p>El Programa de Bibliotecas Protegidas a cargo de la Dirección de Bibliotecas de la Municipalidad del Partido de General Pueyrredon, creado por Ordenanza Nº 8986, consiste en la asistencia bibliográfica, técnica y administrativa a Bibliotecas instaladas en los barrios del Partido fundadas por las asociaciones vecinales de fomento y las entidades civiles sin fines de lucro. Cumplen con los mismos objetivos y actividades que las Bibliotecas Públicas Municipales.
            Entre ellas se encuentran las Bibliotecas: RINO DE TOFFOLI,  GLADYS SMITH, ALONSO CRESPO, ALMAFUERTE,  PLAYA SERENA, ROBERTO ARLT, RICARDO ROJAS, ALICIA MOREAU DE JUSTO y ESTACION CHAPADMALAL.</p>
          </div>
        <div class="tab-pane fade" id="v-pills-especial" role="tabpanel" aria-labelledby="v-pills-especial-tab" tabindex="0">
          <p>BIBLIOTECAS PÚBLICAS ESPECIALES Y ESPECIALIZADAS</p>
          <p>Una Biblioteca especializada es una unidad de información que se encuentra dedicada a una materia o área del conocimiento; por lo general depende de organismos de investigación, sociedades culturales, instituciones gubernamentales, educativas, bancarias, u otras, que cuentan con un acervo bibliográfico circunscrito a una o algunas partes del conocimiento. Son bibliotecas que cuentan con una colección especializada en determinada materia y que atienden a grupos profesionales o académicos cuyas necesidades de información son definidas por este tema o actividad en particular.
          El Sistema de Bibliotecas de la Municipalidad de General Pueyrredón cuenta entre ellas con BIBLIOTECA MUNICIPAL DEPOSITARIA DE NACIONES UNIDAS Y HABITAT, BIBLIOTECA MUNICIPAL ESPECIALIZADA EN DISCAPACIDAD y BIBLIOTECA MUNICIPAL ESPECIAL PARLANTE PARA CIEGOS.</p>
          </div>
      </div>
      </div>
      <a href="../../index.html" class="btn-inicio" style="text-align: center;">VOLVER A INICIO</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
</body>
</html>